out/
.cache/
.env
.bundle/
vendor/bundle/
tmp/
*.gem
packages/**/*.tar*
packages/**/*.tgz
packages/**/*.zip
packages/**/*.obscpio
packages/**/*.bin
packages/**/*.o
packages/**/*.rpm
packages/**/*.7z
packages/**/*.jar
.env.*
!.env.example
*.log
.rubocop-*
